.loginForm{   
    border-radius: 50px; 
    margin-top: 100px;
    margin-left: 500px;
    width : 500px;
    height : 500px;
    border : 2px solid #222;
}
.formElements  {   
    display: flex;  
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
     
}

.formElements  div input{
   width : 220px;
}
