.w-20{
  width : 20%;
}
.w-30{
  width : 30%;
  background-color: yellow;
}
.logo-text{ 
  width : 200px;
}

.sidebar{
  background-color: black;
}
.sidebar div{
  margin-top: 20px;
  background-color: black;
  color:white;
}
.sidebar div:hover{
  cursor:pointer;
}
.side-left{
  position : fixed;
  width : 20%;
  font-size: 20px;
  font-family: 'Poppins', sans-serif;
  background-color: black;
   
}
.side-left i{  

  color : white;
  padding : 25px;
  font-size: 32px;
}
.sidebar div:hover{
  background-color: #444;
}


#stories{
    height : 20vh;
    width : 100%;
}
.dp{
   
  margin-right : 5px;
  height : 30px;
  width : 30px;
}
.post i{
  left : 0px;
  padding : 10px;
}
