.w-20{
  width : 20%;
}
.w-30{  
  width : 30%; 
}

.logo-text{ 
  width : 200px;
}

.sidebar{
  cursor : pointer;   
}

.sidebar div{   
  margin-top: 20px;
  background-color:white;
  color : black;
}

.sidebar div:hover{
  cursor:pointer;
}

.side-left{
  position : fixed;
  width : 20%;
  font-size: 20px;
  font-family: 'Poppins', sans-serif;
  color : black;
  
}

.side-left i{
  color : black;
  padding : 25px;
  font-size: 32px;
}

.sidebar div:hover{
  background-color: whitesmoke;
}

.dp{   
  margin-right : 5px;
  height : 30px;
  width : 30px;
}

.post i{
  left : 0px;
  padding : 10px;
}
/* Left section: profile + username */
.user-info {
  cursor : pointer;
  display: flex;
  align-items: center;
  gap: 10px;
}

/* Follow button aligned right */
.follow-btn {
  margin-left: auto;    /* push to right */
  margin-right: 10px;   /* 10px from right */
  color: #111fff;
  cursor: pointer;
}

 

.side-right {
  cursor : pointer;
  margin-left: auto;   /* pushes it to the right */
  margin-right: 10px;  /* 10px from right */
  color: #111fff;

}
.row-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;  /* MAGIC LINE */
  width: 100%;
}

.storybar{
  margin-left : 30px;
  display: flex;
  align-items: center;
  flex-direction : column;
  
  flex-shrink: 0;
}


.story-border {
  width: 72px;
  height: 72px;
  border-radius: 50%;
  padding: 3px;
  background: linear-gradient(45deg,
    #feda75,
    #fa7e1e,
    #d62976,
    #962fbf,
    #4f5bd5
  ); /* Instagram iconic gradient */
  
  display: flex;
  align-items: center;
  justify-content: center;
}

.stories{
  margin-top : 15px;
  height : 23vh;
  width : 100%;
  cursor : pointer; 
  display: flex;
  flex-direction : row;
  overflow-x: auto;
  white-space: nowrap;
}
.profilePic{
  width: 150px;
  height: 150px;
  border-radius: 50%;
  padding: 3px;
  background: linear-gradient(45deg,
    #feda75,
    #fa7e1e,
    #d62976,
    #962fbf,
    #4f5bd5
  ); /* Instagram iconic gradient */
  
  display: flex;
  align-items: center;
  justify-content: center;
}








