.profilePage{
    font-family : 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    margin-top : 20px;
}
.profileDetails .top{
    align-items: center;
    display: flex;
    margin-top: 20px;
}

.profileDetails .top div{
    margin-left : 20px;
}
.profileDetails .middle{
    font-size: 20px;
    align-items: center;
    display: flex;
    margin-top: 20px;    
}
.profileDetails .middle div{
    margin-left : 20px;
}
.profileDetails .bottom{    
    margin-left : 20px;
    display: flex;
    flex-direction : column;
  
}
.profileDetails .bottom div{
    margin-left : 20px;
}

.postPage{
    display: flex;
    align-items: center;
    flex-direction: row;
}
.post-bar{
    align-items: center;
    width : 40%;
    height : 100vh;
    display: flex;

}
.post-bar img{
    width : 80vh;
}


